@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/dark.less';

:root {
    --ov-0: #000000;
    --ov-1: #141414;
    --ov-2: #1f1f1f;
    --ov-3: #262626;
    --accent: #111d2c;
}