@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

:root {
    --accent-blue: @blue-2;
    --icon-color: @blue-6;
    --background-list-header: #fafafa;
    --background-list-body: #ffffff;
}
